<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Header with Branding -->
    <div class="header">
        <div class="branding">
            <div class="branding-content">
                <img src="{{ url_for('static', filename='images/finkenlogo.png') }}" alt="FinKen Logo" class="logo-image">
                <div class="branding-text">
                    <h1><span class="fin-text">Pocket</span><span class="ken-text">Watch</span></h1>
                    <p>Financial Accounting App</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>